.button {
  border: 0;
  display: block;
  border-radius: 25px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: $cl-red;
  color: $cl-white;
  width: 100%;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @include is-active {
    background-color: darken($cl-red, 15%);
  }
}

@media (min-width: map-get($breakpoints, tablet)) {
  .button--call {
    box-sizing: border-box;
    border: 2px solid $cl-red;
    background-color: $cl-white;
    color: $cl-red;
    font-size: 11px;

    @include is-active {
      background-color: $cl-purp-bg;
    }
  }
}
