.faq {
  padding: 0 15px;
  padding-bottom: 85px;
}

.faq__list {
  margin: 0;
}

.faq__form-box {
  display: block;
  padding: 22px;
  padding-bottom: 56px;
  background-color: $cl-purp;
  background-image: url("../img/faq-form-bg@1x.webp");
  background-repeat: no-repeat;
  background-position: right top;
  border-radius: 10px;
  color: $cl-white;
  margin: 42px 0;
  margin-bottom: 0;
  background-size: 289px 382px;
  box-shadow: 0 23px 32px 0 rgba(81, 8, 86, 0.33);

  &:hover {
    background-size: 230px auto;
  }

  @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url("../img/faq-form-bg@2x.webp");
  }

  .nowebp &,
  .nojs & {
    background-image: url("../img/faq-form-bg@1x.png");

    @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-image: url("../img/faq-form-bg@2x.png");
    }
  }
}

.faq__order-question {
  font-size: 16px;
  line-height: 30px;
  font-style: italic;
  margin: 15px 0;
  margin-bottom: 0;
}

.faq__order-call {
  font-size: 20px;
  line-height: 30px;
  font-family: "Open Sans Semibold", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  margin: 0;
  margin-bottom: 15px;
}

.faq__form-text-input {
  font-size: 14px;
  line-height: 24px;
  color: $cl-white;
  padding: 15px;
  padding-bottom: 7px;
  margin-bottom: 13px;

  &::placeholder {
    color: $cl-white;
  }
}

.faq__form-title {
  display: block;

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.faq__scroll-down {
  display: none;
}

@media (min-width: map-get($breakpoints, tablet)) {
  .faq {
    padding: 0 30px;
    margin-bottom: 102px;
    position: relative;
  }

  .faq__form-box {
    margin-top: 35px;
    padding-bottom: 40px;
  }

  .faq__form {
    padding: 0 13px;
    padding-right: 0;
    padding-top: 6px;
    display: flex;
  }

  .faq__form-title {
    min-width: 181px;
    width: 100%;

    &:first-of-type {
      margin-right: 50px;
    }

    &:last-of-type {
      margin: 0;
      min-width: 170px;
      margin-right: 60px;
    }
  }

  .faq__form-submit {
    min-width: 193px;
    width: 100%;
  }

  .faq__scroll-down-img {
    fill: $cl-purp;
    transition: fill 0.5s ease;
  }

  .faq__scroll-down {
    display: block;
    width: 11px;
    height: 130px;
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    background: transparent;
    position: absolute;
    bottom: -172px;
    right: 166px;
    z-index: 1;
    transform: translateX(-50%);

    &:hover {
      .faq__scroll-down-img {
        fill: #ffc623;
      }
    }
  }
}

@media (min-width: map-get($breakpoints, tablet)) {
  .faq {
    padding: 0 calc(((100% - 1170px)/2) + 15px) 100px calc(((100% - 1170px)/2) + 15px);
    padding-top: 45px;
  }

  .faq__list {
    margin-top: 45px;
  }

  .faq__scroll-down {
    left: 50%;
  }

  .faq__form-box {
    background-image: url("../img/faq-form-bg-desktop@1x.webp");
    background-position: left center;
    background-size: 241px 219px;
    margin-top: 25px;

    @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-image: url("../img/faq-form-bg-desktop@2x.webp");
    }

    .nowebp &,
    .nojs & {
      background-image: url("../img/faq-form-bg@-desktop1x.png");

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/faq-form-bg@-desktop2x.png");
      }
    }
  }
}
