.footer-main {
  min-height: 163px;
  background-color: $cl-purp;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $cl-white;
}

.footer-main__confidentiality {
  order: 1;
  display: block;
  text-decoration: underline;
  margin-top: 27px;
  margin-top: 40px;

  &:hover {
    text-decoration: none;
  }

  @include is-active {
    text-decoration: none;
    color: $cl-purp-circles;
  }
}

.footer-main__copyright {
  order: 2;
  margin-top: 30px;
}
