.header-main {
  color: $cl-white;
  min-height: 829px;
  padding: 0;
  padding-top: 24px;
  background-color: $cl-purp-hero-bg;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.header-main__logo {
  font-size: 17px;
  line-height: 17px;
  font-family: "Open Sans ExtraBold", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-left: 15px;
  margin-right: auto;
}
