.hero {
  background-image: url("../img/first-screen-bg-image-mobile@1x.webp"), url("../img/first-screen-bg-lights-mobile@1x.webp"), url("../img/first-screen-bg-mobile@1x.webp");
  background-position: center top, center top, center top;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, auto, cover;
  min-height: calc(829px - 17px - 24px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 15px;
  padding-top: 335px;
  box-sizing: border-box;

  .nowebp &,
  .nojs & {
    background-image: url("../img/first-screen-bg-image-mobile@1x.png"), url("../img/first-screen-bg-lights-mobile@1x.png"), url("../img/first-screen-bg-mobile@1x.jpg");
  }
}

.hero__scroll-down {
  display: none;
}

.hero__lead {
  font-family: "Open Sans ExtraBold", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 36px;
  line-height: 44px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1.3px;
}

.hero__header {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  margin-top: 23px;
}

.hero__order {
  margin-top: 42px;
}

.hero__order-lead {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-top: 24px;
}

@media (min-width: map-get($breakpoints, tablet)) {
  .hero {
    background-image: url("../img/first-screen-bg-image-tablet@1x.webp"), url("../img/first-screen-bg-lights-tablet@1x.webp"), url("../img/first-screen-bg-tablet@1x.webp");
    background-position: left top 60px, left center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 456px 462px, 455px 519px, cover;
    //min-height: calc(600px - 17px - 14px - 10px);
    min-height: 600px;
    width: 100%;
    //padding-top: 10px;
    padding: 0;
    padding-top: 51px;
    margin-top: -41px;
    flex-direction: row-reverse;

    .nowebp &,
    .nojs & {
      background-image: url("../img/first-screen-bg-image-tablet@1x.png"), url("../img/first-screen-bg-lights-tablet@1x.png"), url("../img/first-screen-bg-tablet@1x.jpg");
    }
  }

  .hero__wrapper {
    width: 312px;
    padding-right: 30px;
    box-sizing: border-box;
    padding-top: 38px;
  }

  .hero__lead {
    font-size: 45px;
    line-height: 54px;
  }

  .hero__header {
    font-size: 21px;
    margin-top: 30px;
    letter-spacing: -0.05rem;
  }

  .hero__order {
    margin-top: 35px;
    padding-right: 35px;
  }

  .hero__order-button {
    width: 100%;
  }

  .hero__scroll-down {
    display: block;
    width: 20px;
    height: 30px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    border: 0;
    box-shadow: none;
    background: transparent url("../img/hero-btn-down.svg") no-repeat center;
    background-size: 20px 30px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      margin-right: -50%;
      top: 6px;
      width: 1px;
      height: 5px;
      background-color: $cl-white;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      &::before {
        top: 20px;
      }
    }
  }
}

@media (min-width: map-get($breakpoints, desktop)) {
  .hero {
    min-height: 940px;
    margin-top: -118px;
    position: relative;
    background-image: url("../img/first-screen-bg-desktop@1x.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .nowebp &,
    .nojs & {
      background-image: url("../img/first-screen-bg-desktop@1x.jpg");
    }
  }

  .hero__wrapper {
    width: 100%;
    max-width: map-get($breakpoints, desktop);
    margin: 0 auto;
    padding-top: 166px;
    background-image: url("../img/first-screen-bg-image-desktop@1x.webp"), url("../img/first-screen-bg-lights-desktop@1x.webp");
    background-position: left -95px top 130px, left center;
    background-repeat: no-repeat, no-repeat;
    background-size: 647px 548px, 629px 631px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .nowebp &,
    .nojs & {
      background-image: url("../img/first-screen-bg-image-desktop@1x.png"), url("../img/first-screen-bg-lights-desktop@1x.png");
    }
  }

  .hero__lead {
    font-size: 60px;
    line-height: 75px;
    margin-right: 130px;
  }

  .hero__header {
    margin-top: 40px;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.1rem;
    margin-right: 75px;
  }

  .hero__order {
    margin-top: 77px;
    display: flex;
    min-width: 470px;
  }

  .hero__order-button {
    max-width: 250px;
    margin-right: 27px;
  }

  .hero__order-lead {
    font-size: 14px;
    margin-top: 2px;
  }

  .hero__scroll-down {
    bottom: 69px;
  }
}
