.page-content {
  counter-reset: section;
}

.page-content__section-header {
  position: relative;
  padding: 0;
  text-indent: 30px;
  font-size: 30px;
  line-height: 40px;
  color: $cl-purp;

  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: -30px;
    width: 10px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    counter-increment: section;
    content: counter(section) ".";
  }
}
