.reviews-list {
  @include list-reset;
  overflow: hidden;
  position: relative;
}

.reviews-list__review {
  box-shadow: 0 0 10px 0 rgba(81, 8, 86, 0.08);
  border-radius: 10px;
  padding: 20px;
  padding-top: 59px;
  padding-bottom: 50px;
  margin: 15px;
  margin-bottom: 22px;
  position: absolute;
  transition: transform ease-in-out 1s;

  &--active {
    position: static;
    transform: translateX(0);
  }

  &--passive {
    transform: translateX(-110%);
    top: 20px;
    left: 0;
    transition: transform ease-in-out 1s;

    &:last-of-type {
      transform: translateX(110%);
    }
  }
}

.reviews-list__image {
  margin: 0;
  margin-left: 18%;
  margin-right: auto;
}

.reviews-list__review-text {
  margin-top: 42px;
}

.reviews-list__name,
.reviews-list__social-link {
  font-family: "Open Sans Semibold", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.reviews-list__name {
  margin: 0;
  margin-top: 32px;
  font-size: 16px;
  line-height: 30px;
}

.reviews-list__social-link {
  display: block;
  text-decoration: none;
  color: $cl-blue-link;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: map-get($breakpoints, desktop)) {
  .reviews__list {
    margin-top: 55px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    --reviews__list-width: calc(100%);
  }

  .reviews-list__review {
    // min-width: 845px;
    // max-width: 845px;
    flex-basis: 845px;
    flex-shrink: 0;
    padding: 25px;
    justify-content: space-between;

    &--active,
    &--passive,
    &--passive:last-of-type {
      position: relative;
      transform: translateX(0);
    }

    &--passive {
      z-index: -1;
    }

    &:first-of-type {
      margin-left: calc(((100% - 845px) / 2) - 845px - 120px);
    }
  }

  // .reviews-list__review {
  //   &--active {
  //     --transformXValue: calc(((100% - 1170px) / 2));
  //     transform: translateX(var(--transformXValue));
  //   }
  // }
}
