.reviews__list {
  margin: 0;
  padding-top: 20px;
}

@media (min-width: map-get($breakpoints, tablet)) {
  .reviews {
    padding-top: 60px;
  }

  .reviews-list__review {
    margin: 0 30px;
    display: flex;
  }

  .reviews-list__image {
    width: 136px;
    height: 136px;
    max-width: none;
    margin: 37px 50px 0 44px;
  }

  .reviews-list__review-text {
    margin-top: 32px;
    margin-bottom: 8px;
  }

  .reviews-list__name {
    margin-top: 8px;
  }
}

@media (min-width: map-get($breakpoints, desktop)) {
  .reviews {
    // padding: 0 calc(((100% - 1170px) / 2) + 15px);
    padding: 0;
    padding-top: 100px;
  }

  .reviews__list {
    margin-top: 55px;
  }

  .reviews-list__review {
    max-width: 845px;
    padding: 25px;
  }
}
