.reviews-list {
  @include list-reset;
  overflow: hidden;
  position: relative;
}

.reviews-list__review {
  box-shadow: 0 0 10px 0 rgba(81, 8, 86, 0.08);
  border-radius: 10px;
  padding: 20px;
  padding-top: 59px;
  padding-bottom: 50px;
  margin: 15px;
  margin-bottom: 22px;
  position: absolute;
  transition: transform ease-in-out 1s;

  &--active {
    position: static;
    transform: translateX(0);
  }

  &--passive {
    transform: translateX(-110%);
    top: 20px;
    left: 0;
    transition: transform ease-in-out 1s;

    &:last-of-type {
      transform: translateX(110%);
    }
  }
}

.reviews-list__image {
  margin: 0;
  margin-left: 18%;
  margin-right: auto;
}

.reviews-list__review-text {
  margin-top: 42px;
}

.reviews-list__name,
.reviews-list__social-link {
  font-family: "Open Sans Semibold", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.reviews-list__name {
  margin: 0;
  margin-top: 32px;
  font-size: 16px;
  line-height: 30px;
}

.reviews-list__social-link {
  display: block;
  text-decoration: none;
  color: $cl-blue-link;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: map-get($breakpoints, tablet)) {
  .reviews-list__review {
    margin: 0 30px;
    display: flex;
  }

  .reviews-list__image {
    width: 136px;
    height: 136px;
    max-width: none;
    margin: 37px 50px 0 44px;
  }

  .reviews-list__review-text {
    margin-top: 32px;
    margin-bottom: 8px;
  }

  .reviews-list__name {
    margin-top: 8px;
  }
}

@media (min-width: map-get($breakpoints, desktop)) {
  .reviews__list {
    margin-top: 55px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    --reviews__list-width: calc(100%);
  }

  .reviews-list__review {
    // min-width: 845px;
    // max-width: 845px;
    flex-basis: 845px;
    flex-shrink: 0;
    padding: 25px;
    justify-content: space-between;
    margin: 0 20px;
    padding-left: 40px;
    padding-top: 20px;

    &--active,
    &--passive,
    &--passive:last-of-type {
      position: relative;
      transform: translateX(0);
    }

    &--passive {
      top: 0;
    }

    &--passive-left,
    &--passive-right {
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    &--passive-left {
      &::before {
        background-image: linear-gradient(to right, $cl-white 0%, $cl-white 75%, transparent);
      }
    }

    &--passive-right {
      &::before {
        background-image: linear-gradient(to left, $cl-white 0%, $cl-white 75%, transparent);
      }
    }

    &:first-of-type {
      margin-left: calc(((100% - 845px) / 2) - 845px - 120px);
    }
  }

  .reviews-list__name {
    margin-top: 30px;
  }
}
