.reviews__list {
  margin: 0;
  padding-top: 20px;
}

@media (min-width: map-get($breakpoints, tablet)) {
  .reviews {
    padding-top: 60px;
  }
}

@media (min-width: map-get($breakpoints, desktop)) {
  .reviews {
    // padding: 0 calc(((100% - 1170px) / 2) + 15px);
    padding: 0;
    padding-top: 100px;
  }

  .reviews__list {
    margin-top: 60px;
  }
}
