@keyframes service-slide-active-to-notactive {
  from {
    transform: scale(1);
    filter: opacity(1);
  }

  to {
    transform: scale(0);
    filter: opacity(0);
  }
}

.service-banner {
  padding: 0 15px;
  padding-bottom: 73px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/1@1x.webp");
  background-position: top 3px left 47px;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: $cl-purp-bg;

  @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url("../img/1@2x.webp");
    background-size: 96px auto;
  }

  .nojs &,
  .nowebp & {
    background-image: url("../img/1@1x.png");

    @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-image: url("../img/1@2x.png");
      background-size: 96px auto;
    }
  }
}

.service-banner__order {
  border-radius: 10px;
  background-color: $cl-purp;
  padding: 20px 23px;
  padding-bottom: 28px;
  color: $cl-white;
  order: 3;
  box-shadow: 0 23px 32px 0 rgba(81, 8, 86, 0.33);
  margin-top: 20px;
}

.service-banner__order-question {
  font-size: 13px;
  line-height: 24px;
  font-style: italic;
  margin: 8px 0;
  margin-bottom: 0;
}

.service-banner__order-call {
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans Semibold", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  margin: 0;
  margin-bottom: 27px;
}

.service-banner__list {
  @include list-reset;
  padding: 14px 0;
  margin: 0;
  order: 1;
}

.service-banner__item {
  &::before {
    content: "• ";
  }
}

.service-banner__slider {
  order: 2;
}

.service-banner__slider-list {
  width: 100%;
  max-width: map-get($breakpoints, mobile);
  margin: 0 auto;
  min-height: 254px;
  position: relative;
}

.service-banner__slider-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;

  &--disappear {
    animation: service-slide-active-to-notactive 1s ease;
    animation-fill-mode: forwards;
  }

  &--second,
  &--third {
    .service-banner__slider-img {
      filter: opacity(0);
    }

    .service-banner__slider-caption {
      display: none;
    }
  }

  &--active {
    top: 20px;
    z-index: 3;
    filter: opacity(1);
    transition: all ease-in-out 1s;
  }

  &--second {
    transform: scale(0.9);
    top: 5px;
    z-index: 2;
    background-color: #c1bac2;
    transition: all ease-in-out 1s;
  }

  &--third {
    transform: scale(0.8);
    z-index: 1;
    top: -10px;
    background-color: #e7e2ec;
    transition: all ease-in-out 1s;
  }
}

.service-banner__slider-caption {
  margin: 20px 0;
}

.service-banner__slider-img {
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

@media (min-width: map-get($breakpoints, tablet)) {
  .service-banner {
    padding: 0 30px 73px 30px;
  }

  .service-banner__slider-caption {
    margin: 35px 0;
    text-align: right;
    font-size: 13px;
  }

  .service-banner__slider-list {
    width: 100%;
    min-height: 515px;
    max-width: map-get($breakpoints, tablet);
  }

  .service-banner__slider-item {
    &--active {
      top: 55px;
      z-index: 3;
      filter: opacity(1);
      transition: all ease-in-out 1s;
    }

    &--second {
      transform: scale(0.95);
      top: 30px;
      z-index: 2;
      background-color: #c1bac2;
      transition: all ease-in-out 1s;
    }

    &--third {
      transform: scale(0.9);
      z-index: 1;
      top: 5px;
      background-color: #e7e2ec;
      transition: all ease-in-out 1s;
    }
  }

  .service-banner__order {
    margin-top: 0;
    padding: 30px 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
  }

  .service-banner__order-call-button {
    margin-top: 3px;
    margin-left: 71px;
    min-width: 248px;
  }

  .service-banner__order-question {
    margin-top: 15px;
    margin-left: 3px;
  }

  .service-banner__order-call {
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 37px;
  }
}
