.service-polygraphy {
  padding: 45px 15px 60px 15px;
  background-image: url("../img/3@1x.webp");
  background-position: top 40px left 47px;
  background-repeat: no-repeat;
  background-size: auto;

  @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url("../img/3@2x.webp");
    background-size: 96px auto;
  }

  .nojs &,
  .nowebp & {
    background-image: url("../img/3@1x.png");

    @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-image: url("../img/3@2x.png");
      background-size: 96px auto;
    }
  }
}

.service-polygraphy__paragraph {
  margin: 25px 0;

  &:first-of-type {
    margin-top: 47px;
  }
}

.service-polygraphy__order-consult {
  display: block;
  margin-top: 42px;
}

.service-polygraphy__order-question {
  font-size: 16px;
  line-height: 30px;
  font-style: italic;
  margin: 0;
}

.service-polygraphy__order-call {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;

  br {
    display: none;
  }
}

.service-polygraphy__form-label {
  display: block;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 34px;
  }
}

@media (min-width: map-get($breakpoints, tablet)) {
  .service-polygraphy {
    padding: 45px 30px 60px 30px;
  }

  .service-polygraphy__order-consult {
    display: flex;
    flex-direction: row-reverse;
    background-image: url("../img/paper-plane-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: left -25px top 35px;
    background-size: 389px 287px;
  }

  .service-polygraphy__firm-style {
    transform: translate(30px, -20px);
  }

  .service-polygraphy__order-wrapper {
    margin-right: auto;
    margin-top: 25px;
  }

  .service-polygraphy__form {
    max-width: 240px;
  }

  .service-polygraphy__order-call {
    min-width: 250px;
    padding-right: 10px;

    br {
      display: inline;
    }
  }

  .service-polygraphy__form-submit {
    width: 100%;
  }
}

@media (min-width: map-get($breakpoints, desktop)) {
  .service-polygraphy {
    padding: 75px calc(((100% - 1170px) / 2) + 15px) 60px calc(((100% - 1170px) / 2) + 15px);
    padding-bottom: 130px;
    box-sizing: border-box;
    background-image: url("../img/3@1x.webp"), url("../img/paper-plane-desktop@1x.webp");
    background-position: top 60px left calc(((100% - 1170px) / 2) + 15px), bottom 55px right calc(((100% - 1170px)/2) + 130px);
    background-repeat: no-repeat, no-repeat;
    background-size: 160px auto, 503px 340px;
    overflow-x: hidden;

    @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-image: url("../img/3@2x.webp"), url("../img/paper-plane-desktop@2x.webp");
      background-size: 160px auto, 503px 340px;
    }

    .nojs &,
    .nowebp & {
      background-image: url("../img/3@1x.png"), url("../img/paper-plane-desktop@1x.png");

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/3@2x.png"), url("../img/paper-plane-desktop@2x.png");
        background-size: 160px auto, 503px 340px;
      }
    }
  }

  .service-polygraphy__paragraph {
    max-width: 50%;
  }

  .service-polygraphy__firm-style {
    position: absolute;
    top: -457px;
    left: 562px;
  }

  .service-polygraphy__order-consult {
    position: relative;
    background: none;
  }

  .service-polygraphy__order-wrapper {
    flex-basis: 100%;
    margin-top: 63px;
  }

  .service-polygraphy__form {
    max-width: none;
    display: flex;
    margin-top: 30px;
  }

  .service-polygraphy__order-call {
    br {
      display: none;
    }
  }

  .service-polygraphy__form-label {
    min-width: 240px;
    margin-right: 40px;

    &:last-of-type {
      margin-right: 50px;
    }
  }

  .service-polygraphy__form-submit {
    max-width: 190px;
  }
}
