.service-interior {
  padding: 0 15px;
  padding-top: 47px;
  background-color: $cl-white;
  box-sizing: border-box;
  min-height: 750px;
  background-repeat: no-repeat, no-repeat;
  background-image: url("../img/1@1x.webp"), url("../img/sofa-bg@1x.webp");
  background-position: top 35px left 47px, right bottom 56px;
  background-size: auto, 281px 355px;

  @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url("../img/1@1x.webp"), url("../img/sofa-bg@2x.webp");
  }

  .nowebp &,
  .nojs {
    background-image: url("../img/1@1x.png"), url("../img/sofa-bg@1x.png");

    @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-image: url("../img/1@1x.png"), url("../img/sofa-bg@2x.png");
    }
  }
}

.service-interior__paragraph {
  margin-top: 38px;
}

.service-interior__request {
  margin-top: 42px;
}
