.service-polygraphy {
  padding: 45px 15px 60px 15px;
  background-image: url("../img/1@1x.webp");
  background-position: top 40px left 47px;
  background-repeat: no-repeat;
  background-size: auto;

  @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url("../img/1@2x.webp");
    background-size: 96px auto;
  }

  .nojs &,
  .nowebp & {
    background-image: url("../img/1@1x.png");

    @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-image: url("../img/1@2x.png");
      background-size: 96px auto;
    }
  }
}

.service-polygraphy__paragraph {
  margin: 25px 0;

  &:first-of-type {
    margin-top: 47px;
  }
}

.service-polygraphy__order-consult {
  display: block;
  margin-top: 42px;
}

.service-polygraphy__order-question {
  font-size: 16px;
  line-height: 30px;
  font-style: italic;
  margin: 0;
}

.service-polygraphy__order-call {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.service-polygraphy__form-label {
  display: block;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 34px;
  }
}
