.subheader {
  color: $cl-grey;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;

  &--service-interior {
    br {
      display: none;
    }
  }

  &--service-polygraphy {
    br {
      display: none;
    }
  }
}

@media (min-width: map-get($breakpoints, tablet)) {
  .subheader {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 32px;

    &--service-banner {
      margin-top: 35px;
      margin-bottom: 43px;
      line-height: 40px;

      br {
        display: none;
      }
    }

    &--service-interior {
      line-height: 35px;
      margin-bottom: 62px;

      br {
        display: inline;
      }
    }

    &--service-polygraphy {
      line-height: 38px;
      margin-top: 60px;

      br {
        display: inline;
      }
    }
  }
}

@media (min-width: map-get($breakpoints, desktop)) {
  .subheader {
    &--about {
      font-size: 30px;
      margin-top: 60px;
      line-height: 40px;
      margin-bottom: 50px;
    }

    &--service-banner {
      margin-top: 75px;
      margin-bottom: 10px;
    }

    &--service-interior {
      margin-bottom: 52px;
    }
  }
}
