@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v18-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/roboto-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto-v18-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-v18-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/roboto-v18-latin_cyrillic-regular.ttf") format("truetype"),
    url("../fonts/roboto-v18-latin_cyrillic-regular.svg#Roboto") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Roboto-bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v18-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"),
    local("Roboto-Bold"),
    url("../fonts/roboto-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto-v18-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-v18-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/roboto-v18-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/roboto-v18-latin_cyrillic-700.svg#Roboto") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lora-v12-latin_cyrillic-regular.eot");
  src: local("Lora Regular"),
    local("Lora-Regular"),
    url("../fonts/lora-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lora-v12-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/lora-v12-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/lora-v12-latin_cyrillic-regular.ttf") format("truetype"),
    url("../fonts/lora-v12-latin_cyrillic-regular.svg#Lora") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Lora-bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lora-v12-latin_cyrillic-700.eot");
  src: local("Lora Bold"),
    local("Lora-Bold"),
    url("../fonts/lora-v12-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lora-v12-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/lora-v12-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/lora-v12-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/lora-v12-latin_cyrillic-700.svg#Lora") format("svg");
}
