$breakpoints: (
  mobile: 320px,
  tablet: 750px,
  desktop: 1170px,
);

$cl-purp: #7f38bd;
$cl-purp-bg: #faf8fb;
$cl-purp-hero-bg: #8c3dd7;
$cl-white: #ffffff;
$cl-black: #383d52;
$cl-grey: #5e606a;
$cl-grey-border: #cccccc;
$cl-red: #fb0275;
$cl-blue-link: #3594dd;

@import "normalize";
@import "mixin.scss";
@import "fonts.scss";
@import "global.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/button.scss";
@import "blocks/header-main.scss";
@import "blocks/main-nav.scss";
@import "blocks/hero.scss";
@import "blocks/page-content.scss";
@import "blocks/subheader.scss";
@import "blocks/about.scss";
@import "blocks/service-banner.scss";
@import "blocks/header.scss";
@import "blocks/text-input.scss";
@import "blocks/reviews-list.scss";
